*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

}
.body{
    display: grid;
    height: 100vh;
    width: 100vw;
    place-items: center;
    align-items: center;
    
}
table{
    width: 600px;
    box-shadow: -1px 12px 12px -6px;
    
}
table,td,th{
    padding: 20px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;

}
td{
    font-size: 18px;
}
th{
    color:chartreuse;
}
tr:nth-child(odd){
    background-color:crimson;
    
}
tr:nth-child(odd):hover{
    background-color:lightblue;
    transform: scale(2);
}
tr:nth-child(even){
    background-color:darkmagenta;
}
tr:nth-child(even):hover{
    transform: scale(2);
}